:root {
  {% for color, info in colors %}
    {% if info | length > 2 %}
      {% for shade, info in info %}
        --{{ color}}-{{ shade }}: {{ info.value }};
      {% endfor %}
    {% else %}
      --{{ color }}: {{ info.value }};
    {% endif %}
  {% endfor %}
}