:root {
  --purple-50: #f8f4f9;

  --purple-100: #f2e9f8;

  --purple-200: #eadaf7;

  --purple-300: #dcbef5;

  --purple-400: #c795f2;

  --purple-500: #b169eb;

  --purple-600: #9b46dc;

  --purple-700: #8431bf;

  --purple-800: #6f2a9c;

  --purple-900: #5b237d;

  --pink-50: #faf1f2;

  --pink-100: #f9e7ec;

  --pink-200: #f7d1e1;

  --pink-300: #f3accd;

  --pink-400: #ed78af;

  --pink-500: #e44e93;

  --pink-600: #d22c72;

  --pink-700: #b71d58;

  --pink-800: #981b48;

  --pink-900: #801b3e;

  --trueGray-50: #f8f8f4;

  --trueGray-100: #f4f3ee;

  --trueGray-200: #e6e4dd;

  --trueGray-300: #d7d4cc;

  --trueGray-400: #a8a29b;

  --trueGray-500: #77716c;

  --trueGray-600: #544f4c;

  --trueGray-700: #413e3a;

  --trueGray-800: #272521;

  --trueGray-900: #191714;

  --rose-50: #faf0ec;

  --rose-100: #fae4e0;

  --rose-200: #f8cfcd;

  --rose-300: #f6a7ab;

  --rose-400: #f37485;

  --rose-500: #ea4262;

  --rose-600: #d6204a;

  --rose-700: #b5163b;

  --rose-800: #981636;

  --rose-900: #831733;

  --red-50: #faf1ec;

  --red-100: #f9e2db;

  --red-200: #f8cbc4;

  --red-300: #f5a6a1;

  --red-400: #f07373;

  --red-500: #e54549;

  --red-600: #d1262a;

  --red-700: #b01d1e;

  --red-800: #921c1c;

  --red-900: #791e1d;

  --warmGray-50: #f8f8f3;

  --warmGray-100: #f4f3ed;

  --warmGray-200: #e8e4dc;

  --warmGray-300: #d8d3c9;

  --warmGray-400: #ada196;

  --warmGray-500: #7c6e65;

  --warmGray-600: #595048;

  --warmGray-700: #453d37;

  --warmGray-800: #2a2420;

  --warmGray-900: #1d1914;

  --cyan-50: #f0fcf9;

  --cyan-100: #dcf8f7;

  --cyan-200: #c0f2f5;

  --cyan-300: #92e8f1;

  --cyan-400: #57d4e4;

  --cyan-500: #37b6c8;

  --cyan-600: #2b90a5;

  --cyan-700: #277283;

  --cyan-800: #265c6a;

  --cyan-900: #234c59;

  --amber-50: #fbf8e8;

  --amber-100: #f9f0c1;

  --amber-200: #f8e284;

  --amber-300: #f6cd44;

  --amber-400: #f4b82a;

  --amber-500: #ec981c;

  --amber-600: #d07114;

  --amber-700: #ac4f11;

  --amber-800: #8c3d11;

  --amber-900: #73320f;

  --violet-50: #f4f2f8;

  --violet-100: #eeeaf7;

  --violet-200: #e1daf6;

  --violet-300: #ccbff4;

  --violet-400: #b39bef;

  --violet-500: #9870e9;

  --violet-600: #874edf;

  --violet-700: #7539c9;

  --violet-800: #602da8;

  --violet-900: #4f2689;

  --gray-50: #f8f8f4;

  --gray-100: #f3f3ee;

  --gray-200: #e5e4df;

  --gray-300: #d7d4d0;

  --gray-400: #a7a1a1;

  --gray-500: #766f72;

  --gray-600: #555054;

  --gray-700: #413d3f;

  --gray-800: #282625;

  --gray-900: #1a1817;

  --fuchsia-50: #faf3f8;

  --fuchsia-100: #f8e9f8;

  --fuchsia-200: #f3d4f7;

  --fuchsia-300: #eeaff4;

  --fuchsia-400: #e781f0;

  --fuchsia-500: #d853e4;

  --fuchsia-600: #bf34c6;

  --fuchsia-700: #a227a3;

  --fuchsia-800: #872185;

  --fuchsia-900: #72206d;

  --orange-50: #fbf5e8;

  --orange-100: #faebcf;

  --orange-200: #f8d5a3;

  --orange-300: #f6b772;

  --orange-400: #f38e3b;

  --orange-500: #ef7225;

  --orange-600: #df581b;

  --orange-700: #b84014;

  --orange-800: #933213;

  --orange-900: #762b13;

  --indigo-50: #eff2f8;

  --indigo-100: #e4e8f8;

  --indigo-200: #d1d7f6;

  --indigo-300: #b4bff2;

  --indigo-400: #939ced;

  --indigo-500: #7477e4;

  --indigo-600: #5d56d6;

  --indigo-700: #4c43ba;

  --indigo-800: #3d3795;

  --indigo-900: #363275;

  --blue-50: #f0f5f8;

  --blue-100: #e1ebf7;

  --blue-200: #ccdff6;

  --blue-300: #a9cdf4;

  --blue-400: #7bb2ef;

  --blue-500: #5793e9;

  --blue-600: #3e72dc;

  --blue-700: #315ac8;

  --blue-800: #2b46a0;

  --blue-900: #283d7d;

  --lightBlue-50: #f2f7f8;

  --lightBlue-100: #e6f1f7;

  --lightBlue-200: #cae7f5;

  --lightBlue-300: #9bd8f3;

  --lightBlue-400: #60c4ed;

  --lightBlue-500: #3aacdc;

  --lightBlue-600: #2687b8;

  --lightBlue-700: #1e6a92;

  --lightBlue-800: #1c5878;

  --lightBlue-900: #1c4962;

  --teal-50: #f2fbf3;

  --teal-100: #daf8ea;

  --teal-200: #b7f3dc;

  --teal-300: #88e7cc;

  --teal-400: #5ad1b6;

  --teal-500: #3db49c;

  --teal-600: #2d8f7e;

  --teal-700: #267165;

  --teal-800: #225a51;

  --teal-900: #204a43;

  --emerald-50: #effaee;

  --emerald-100: #dbf7dd;

  --emerald-200: #baf0c8;

  --emerald-300: #8ce3b1;

  --emerald-400: #58cd95;

  --emerald-500: #36b27d;

  --emerald-600: #258e65;

  --emerald-700: #1d7152;

  --emerald-800: #195941;

  --emerald-900: #154936;

  --green-50: #f1faed;

  --green-100: #dbf7dd;

  --green-200: #c8f3c8;

  --green-300: #9ceaa6;

  --green-400: #67d781;

  --green-500: #41bb63;

  --green-600: #30984e;

  --green-700: #28763e;

  --green-800: #245d33;

  --green-900: #204c2b;

  --lime-50: #f5fbdf;

  --lime-100: #e4f9c1;

  --lime-200: #cdf595;

  --lime-300: #b9ed62;

  --lime-400: #a4df41;

  --lime-500: #87c229;

  --lime-600: #68971b;

  --lime-700: #4f7216;

  --lime-800: #415a14;

  --lime-900: #384d14;

  --yellow-50: #faf9e4;

  --yellow-100: #faf5bf;

  --yellow-200: #f9eb88;

  --yellow-300: #f7da4a;

  --yellow-400: #f3c425;

  --yellow-500: #e3a91b;

  --yellow-600: #c38014;

  --yellow-700: #9b5b10;

  --yellow-800: #804811;

  --yellow-900: #6d3b12;

  --coolGray-50: #f8f8f5;

  --coolGray-100: #f3f3ef;

  --coolGray-200: #e7e6e3;

  --coolGray-300: #d5d5d2;

  --coolGray-400: #a3a3a5;

  --coolGray-500: #717177;

  --coolGray-600: #4f535a;

  --coolGray-700: #3a4049;

  --coolGray-800: #232830;

  --coolGray-900: #141821;

  --blueGray-50: #f7f8f6;

  --blueGray-100: #f1f4f2;

  --blueGray-200: #e5e8e8;

  --blueGray-300: #d1d6d8;

  --blueGray-400: #9da3ae;

  --blueGray-500: #6b7381;

  --blueGray-600: #4c5460;

  --blueGray-700: #37404c;

  --blueGray-800: #222934;

  --blueGray-900: #131824;

  --black: #010201;

  --white: #fbfdfb;
}
